@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color1: #000000;
    --color2: #555555;
    --color3: #F5F5F7;
    --color4: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color2);
}

body {
    /*height: 100vh;*/
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color3);
}

header {
    background-color: var(--color1);
    padding: 15px;
    margin-bottom: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 70%;
}

header h1, a {
    font-weight: bold;
    color: var(--color4);
}

header a {
    margin-left: 20px;
    text-decoration: none;
}

.container {
    margin-bottom: 20px;
}

.main {
    margin: auto;
    max-width: 70%;
    height: 100%;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img, .txt h2, .txt hr, .txt p {
    margin-bottom: 15px;
}

.footers {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footers h1, .footers p, .footers button {
    margin-top: 15px;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 50%;
    border: none;
    color: var(--color4);
    background-color: var(--color1);
    box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,0.5);
}

.footers-img {
    border-radius: 10px;
    background-color: #DDDDDD;
    box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,0.5);
}

img {
    width: 100%;
}

@media screen and (min-width: 641px) {
    #products {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 15px;
    }
    #about {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    #products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #about {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
    }
}