* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
}

body {
    background-color: #1C1C21;
}

.navbar {
    background-color: #b4b4b4;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}

.nav .nav-link.active {
    background-color: #6c757d;
    color: #FFFFFF;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #FFFFFF;
}

#carouselExampleSlidesOnly {
    background: radial-gradient(circle, #d4cfcf 0%, #26262c 100%);
}



.carousel-item img {
    transform: rotate(30deg);
}

.card {
    background: radial-gradient(circle, #d4cfcf 50%, rgb(122, 122, 122) 100%);
}

.carousel-img {
    height: 60vh;
    width: auto;
    padding: 40px;
}

#speak {
    background-color: #b4b4b4;
}

#speak li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

#products h2 {
    color: white;
}

#specs {
    background-color: #b4b4b4;
}